.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

.quote_container {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote-discriotion-container{
    margin-left: 20px;
    display: flex;
}

.description {
    display: block;
    margin-top: 2px;
    margin-right: 10px;
    max-width: 85%;
    font-size: large;
    font-style: italic;
    color: #000000;
    
}

.mark_down_quote {
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

.quote_update_button {
    height: 25px;
    margin-top: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

.quote-hide-button {
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #3f3f3f;

}

.quote-autor-info {
    margin-left: 20px;
    display: flex;
}

.delete_quote {
    height: 25px;
    margin-top: 10px;
    margin-left: 80%;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #ff0000;
}

.quote_author {
    white-space: nowrap;
    max-width: 80%;
    margin-right: 10px;
    font-size: large;
}



.author-fullname-input {
    border: #000000;
    border-radius: 5px;

}


.author-form {
    display: flex;
    font-size: larger;
}

.author-fullname-input {
    margin-left: 20px;
}

.author-born-location-input {
    margin-left: 20px;
}

.author-description-input {
    margin-left: 20px;
    font-size: larger;
}

.author-born-date-input {
    margin-left: 50px;

}

/* Tags */
.tag_container {
    margin-left: 20px;
    display: flex;
}

.quote_tags {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}

.quote-add-tag-button {
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

.search-by-tag-button {
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}