{% extends "quotes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:author' %}">
    {% csrf_token %}
    <div class="author-form">
        <div>
            <div>
                <label class="author-fullname-input"> Author full name:
                    {{ form.full_name }}
                </label>
                <span>{{ form.errors.full_name }}</span>
            </div>
            <div>
                <label class="author-born-location-input"> Born location:
                    {{ form.born_location }}
                </label>
                <span>{{ form.errors.born_location }}</span>
            </div>
        </div>
        <div>
            <label class="author-born-date-input"> Born date:
                {{ form.born_date }}
            </label>
            <span>{{ form.errors.born_date }}</span>
        </div>
    </div>
    <div>
        <label class="author-description-input"> Description:
            {{ form.description }}
        </label>
        <span>{{ form.errors.description }}</span>
    </div>
    <div class="grid">
        <button class="Add-Quote" type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}